{
  "reporter": [
    "text",
    "lcov"
  ],
  "require": [
    "@babel/register"
  ],
  "extension": [
    ".jsx"
  ],
  "include": [
    "src/**/*"
  ],
  "exclude": [
    "**/*webpack*",
    "src/index.js",
    "src/Diagnose/",
    "src/**/*test.js",
    "src/**/*test.jsx",
    "examples/**"
  ],
  "check-coverage": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80
}
