.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-container {
  height: 300px;
  margin: 5px 10px;
  width: 500px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
