#root {
  text-align: center;
}

.header {
  background-color: rgb(0, 116, 228);
  color: white;
  padding: 5px;
}

.content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link,
.link:visited,
.link:focus,
.link:hover {
  background-color: rgb(0, 116, 228);
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
}

.map-container {
  height: 300px;
  margin: 5px 10px;
}

.example {
  flex: 1 1;
  flex-basis: 500px;
}
