body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  text-align: center;
}

.margin-left {
  margin-left: 10px;
}

.header {
  background-color: rgb(0, 116, 228);
  color: white;
  padding: 5px;
}

.ap-input-wrapper {
  margin: 20px auto;
  margin-bottom: 40px;
  text-align: left;
  color: black;
  width: 400px;
}

.footer {
  padding: 20px 10px;
  font-size: 12px;
}

.link,
.link:visited,
.link:focus,
.link:hover {
  background-color: rgb(0, 116, 228);
  border-radius: 5px;
  color: white;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
}

.map-container {
  flex: 1 1;
  min-height: 400px;
}

.example {
  display: flex;
  justify-content: center;
}

.code {
  flex: 1 1;
  height: 100%;
  margin: 0 0 0 10px !important;
  min-height: 400px;
}
